<style>
</style>
<%= form_with model: [:user, @assignment], local: true do |form| %>
 
    <% if @assignment.errors.any? %>
      <div id="error_explained">
        <h2>
          <%= pluralize(@assignment.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <div class="d-flex justify-content-around">
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>

      <p>
        <%= form.label :deadline %><br>
        <%= form.text_field :deadline %>
      </p>
    </div>
    <div class="d-flex justify-content-center" style="width:500px; height:200px">
      <p>
        <%= form.label :description %><br>
        <%= form.text_area :discription %>
      </p>
    </div>
   
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>