<%= render 'navbar' %>

<p>
  <strong>Task:</strong>
  <%= @assignment.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @assignment.discription %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @assignment.deadline %>
</p>

<%= link_to 'Edit', edit_user_assignment_path(@assignment) %>  |  
<%= link_to 'Assignment List', '/users/:user_id/assignments' %>