<style>
#add-new-form {
  background: url(/assets/notebook-paper.jpg);
  border: 1px solid #343a40;
  border-radius: 15px 15px 15px 15px;
  color:black;
  width:550px;
  padding-top: 100px;;
  height:450px;
  font-size: 14px;
}
</style>

<%= render 'navbar' %>

<div class="container" id="add-new-form" >
  <div class="d-flex justify-content-around" style="margin-bottom: 20px; margin-top: 40px; padding-left: 25px;">
    <p >
      <strong>Task:</strong>
      <%= @assignment.title %>
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= @assignment.deadline %>
    </p>
  </div>
  
  <div class="d-flex justify-content-center" style="margin-bottom: 20px; margin-top: 40px;">
    <p>
      <strong>Description:</strong>
      <%= @assignment.discription %>
    </p>
  </div>
  <div class="d-flex justify-content-center" style="margin-bottom: 20px; margin-top: 40px;">
    <p>
      <%= link_to 'Edit', edit_user_assignment_path(@assignment) %>  |  
      <%= link_to 'Assignment List', '/users/:user_id/assignments' %>
    </p>
  </div>
</div>